.wrapper {
  display: flex;
  flex-direction: column;
  padding-block:1em;
  inline-size: min(90rem, 100% - 3em);
  inline-size: calc-size(stretch, min(90rem, size - 3em));
  margin-inline:auto;
  gap:3em;
}
.textColor {
        color: hsl(292, 46%, 15%);
}
.large-box {
  min-block-size: 20rem;
  border:2 ;
  background:hsl(267.5 28.8% 59.8%/ .5);
}
